.flyer{
	max-width: 205px;
	width: 100%;
	max-height: 275px;
	height: 100%;
	margin:1%;
}
#seleccion{
	background-color: #E2A631;
	color: whitesmoke;
}
.moviesections{
	text-align: left;
} 
.visible{
	display: block;
}
.bg-blue{
	background-color: #E2A631;
	color: whitesmoke;
}
.bg-black{
	background-color: #242323;
	color: whitesmoke;
}
.title{
	padding: 3%;
}
.modal-body, .modal-footer {
 	border: solid 1px #242323;
 	text-align: justify;
}
